* {
    box-sizing: inherit;
    box-sizing: border-box;
}

/* ELEMENT STYLING */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5rem;
    margin: 0 0 1rem 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;
}

hr {
    width: 48%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #7C7C7C;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 1rem 0 1rem 0;
}

button {
    background-color: #05535F;
    border: solid 2px #05535F;
    color: white;
    border-radius: 2rem;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	width: 8rem;
    height: 3rem;
    margin: 1.5rem 0 1.5rem 0;
}

/* NAVBAR SYLING */

.navbar {
    width: 100%;
    background-color: #05535f;;
	position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    height: 55px;
}

.nav-title {
    margin-left: 30px;
}

.nav-item {
    margin-right: 30px;
}

/* SECTION STYLING */

#welcome-section {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #05535f;
    color: white;
}

#about-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5rem;
    height: 100vh;
    padding: 0rem 10rem 0rem 10rem;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;
    border-bottom: 1px solid #05535f; 
}

#about {
    display: grid;
    grid-column: 1;
}

#projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    height: 100vh;
    padding: 0rem 10rem 0rem 10rem;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;
    border-bottom: 1px solid #05535f;
}

#projects a {
    color: #7C7C7C;
}

#project-1img img {
    display: grid;
    grid-column: 1;
}

#project-1 {
    display: grid;
    grid-column: 2;
}

#contact-section {
    display: grid;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0rem 10rem 0rem 10rem;
    color: #7C7C7C;
}

.icon {
    padding: 1rem 0.75rem 0.75rem 1rem;
}

.icon-black {
    padding: 1rem 0.75rem 0.75rem 1rem;
    color: #05535F;
}



/* MEDIA QUERIES */

@media all and (max-width: 760px) {
	
	#about-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        height: 100vh;
        padding: 0rem 5rem 0rem 5rem;
        justify-content: center;
        color: #7C7C7C;
        border-bottom: 1px solid #05535f; 
    }

    #about-section img {
        max-width: 50%;
    }

    #projects {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        height: 100vh;
        padding: 0rem 5rem 0rem 5rem;
        justify-content: center;
        color: #7C7C7C;
        border-bottom: 1px solid #05535f;
    }

    #contact-section {
        display: grid;
        height: 100vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem 5rem 0rem 5rem;
        color: #7C7C7C;
    }
}

