* {
    box-sizing: border-box;
}

html{scroll-behavior:smooth}

/* ELEMENT STYLING */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 1rem 0 1rem 0;
}


/* NAVBAR SYLING */

.navbar {
    width: 100%;
    color: white;
    background-color: #05535f;
	position: fixed;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    height: 55px;
}

.nav-title {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    margin-left: 30px;
}

.nav-title:hover {
    color: #ababab;
}

.nav-item {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    margin-right: 30px;
}

.nav-item:hover {
    color: #ababab;
}

.mobile-menu-toggle {
    display: none;
    color: white;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 55px;
    background: #0c8396;
    overflow: hidden;
    height: 0;
    -webkit-transition: height .3s ease-out;
    -moz-transition: height .3s ease-out;
    -o-transition: height .3s ease-out;
    transition: height .3s ease-out;
    text-align: left;
}

.mobile-menu-visible {
    height: 160px;
}

.mobile-menu-link {
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 0.75rem;
    cursor: pointer;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
    text-transform: uppercase;
}

.mobile-menu-link:hover {
    color: #ababab;
}


/* SECTION STYLING */

#welcome-section {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #05535f;
    color: white;
}

.welcome-section-content-mainheading {
    font-size: 5rem;
    margin: 0 0 1rem 0;
    padding: 0;
    font-weight: 100;
}

.welcome-section-content-subheading {
    font-size: 2rem;
    margin: 1.5rem 0 1.5rem 0;
    font-weight: 100;
}

.welcome-section-content-hr {
    width: 48%;
    color: white;
}

.welcome-section-content-icons a {
    color: white;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.welcome-section-content-icons a:hover {
    color: #ababab;
}

.welcome-section-content .icon {
    padding: 1rem 0.75rem 0.75rem 1rem;
}

#about-section {
    color: #7C7C7C;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 6rem 2rem 6rem;
    width: 100%;
    overflow:hidden;    
}

.about-content {
    display: flex;
    align-items: flex-start;
}

.about-content-text {
    margin-right: 2rem;
}

.about-image {
    min-width: 300px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

#projects-section {
    background-color: #ececec;
    color: #7C7C7C;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 6rem 2rem 6rem;
    width: 100%; 
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: white;
    border: solid 3px #05535f;
    border-radius: 10px;
    padding: 2rem;
}

.project-title {
    margin-bottom: 1rem;
}

.project-title-text {
    text-decoration: none;
    font-weight: 300;
    color: #7C7C7C;
}

.project-card-content {
    display: flex;
    justify-content: center;
}

.project-card-content-link {
    color: #7C7C7C;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.project-card-content-link:hover {
    color: #05535f;
}

.project-card-text {
    margin-left: 2rem;
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-card-content-icon {
    padding-right: 0.75rem;
    padding: 0.75 0.75rem 0.75rem 0rem;
}

#contact-section {
    color: #7C7C7C;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 6rem 2rem 6rem;
    width: 100%; 
}

.contact-button {
    background-color: #05535F;
    border: solid 2px #05535F;
    color: white;
    border-radius: 2rem;
	cursor: pointer;
	font-family: inherit;
    font-size: 1em;
    font-weight: 100;
	width: 8rem;
    height: 3rem;
    margin: 1.5rem 0 1.5rem 0;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.contact-button:hover {
    background-color: #0c8396;
    border: solid 2px #0c8396;
    color: white;
    border-radius: 2rem;
	cursor: pointer;
	font-family: inherit;
    font-size: 1em;
    font-weight: 100;
	width: 8rem;
    height: 3rem;
    margin: 1.5rem 0 1.5rem 0;
}


.icon-black {
    padding: 1rem 0.75rem 0.75rem 1rem;
    color: #05535F;
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.icon-black:hover {
    color: #0c8396;
}


/* MEDIA QUERIES */

@media all and (max-width: 750px) {

    /* MOBILE  */
    .desktop-menu {
        display: none;
    }

    .mobile-menu-toggle {
        display: block;
    }
    
    .about {
        padding: 4.5rem 1rem 2rem 1rem;
    }

    .about-content {
        flex-wrap: wrap;
    }

     .about-text {
        margin-right: 0;
    }

    .projects {
        padding: 4rem 1rem 2rem 1rem;
    }

    .project-card-content {
        flex-wrap: wrap;
    }

    .project-card-text {
        margin-top: 2rem;
        margin-left: 0;
    }
}

